* {
    background: #1F2937;
    margin-left: 52px;
    margin-top: 0;
}

.heading {
    margin-top: 115px;
}

#heading1 {
    margin: 0;
    color: white;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
}

#heading2 {
    margin: 0;
    color: #4ADF86;
    font-weight: bolder;

}

p {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: lighter;
    margin-bottom: 0;
}

button {
    background: #4ADF86;
    color: white;
    font-weight: bolder;
    border: 2px solid #4ADF86;
    border-radius: 6px;
    margin-top: 52px;
    padding : 9px 15px;
}

hr {
    border: 1px solid #2F3E53;
    margin: 35px 52px;

}
.result{
    display: grid;
    grid-template-columns: 211px 211px;
    column-gap: 50px;
    text-align: center;
    margin-left: 0;
}
#resultOne{
    height: 31px;
    width: 210px;
    background-color:#273549;
    padding-bottom: 0;
    padding-top: 10px;
    border-radius:6px;
    color: #4ADF86;
}
#resultTwo{
    height: 31px;
    width: 210px;
    background-color: #273549;
    border-radius: 6px;
    padding-bottom: 0;
    padding-top: 10px;
    color: #4ADF86;
}
.btn{
    cursor: pointer;
}
.btn:active{
    background:#0a5528;
    box-shadow: 0 2px 25px #0a5528;
    border: 2px solid #0a5528;
    color: rgba(255, 255, 255, 0.662);
}
.text{
    margin-left: 0;
}